.container-box {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.input-field {
    padding: 7px;
    margin: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px black;
    width: 250px;
    max-width: 500px;
    max-height: 500px;
    background-color: rgb(236, 227, 227);
}

.input-field:focus {
    background-color: white;
}

#btn-submit:hover {
    cursor: pointer;
    background-color: rgb(107, 218, 107);
}

#btn-reset:hover  {
    cursor: pointer;
    background-color: rgb(255, 48, 48);
}
